<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta property="og:title" content="erik.tech"/>
    <meta property="og:description" content="El blog de Erik"/>
    <title>@ViewData["Title"] - erik.tech</title>
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css"/>
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"/>
    </environment>
    <link rel="stylesheet" href="~/css/site.css"/>
    <link rel="stylesheet" href="~/lib/fontaw/css/all.css"/>
</head>
<body onload="modoOscuroIndex()">
<nav class="navbar navbar-expand-lg sticky-top" id="barra_index">
    <a class="navbar-brand" asp-page="Index" asp-route-categoria="">erik.tech</a>
    <button class="navbar-toggler m-1" type="button" data-toggle="collapse" data-target="#navegacion_principal" aria-controls="navegacion_principal" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navegacion_principal">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link active"asp-page="Index" asp-categoria="">Inicio <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-page="admin/Index">Iniciar sesión</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-page="registro">Crear cuenta</a>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Categorias
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" asp-page="/Index" asp-route-categoria="Linux"><i class="fab fa-linux"></i> Linux</a>
                    <a class="dropdown-item" asp-page="/Index" asp-route-categoria="Windows"><i class="fab fa-windows"></i> Windows</a>
                    <a class="dropdown-item" asp-page="/Index" asp-route-categoria="macOS"><i class="fab fa-apple"></i> macOS</a>
                    <a class="dropdown-item" asp-page="/Index" asp-route-categoria="Android"><i class="fab fa-android"></i> Android</a>
                    <a class="dropdown-item" asp-page="/Index" asp-route-categoria="Desarrollo"><i class="fas fa-code"></i> Desarrollo</a>
                    <a class="dropdown-item" asp-page="/Index" asp-route-categoria="Gaming"><i class="fas fa-gamepad"></i> Gaming</a>
                    <a class="dropdown-item" asp-page="/Index" asp-route-categoria="Hardware"><i class="fas fa-desktop"></i> Hardware</a>
                </div>
            </li>
            <li class="nav-item">
                <button class="btn" id="boton_modo_oscuro" title="Cambiar modo de color"></button>
            </li>
        </ul>
        <ul class="nav ml-auto">
            <li class="nav-item flex-fill">
                <form method="get" action="/buscar" class="nav-item">
                    <input name="q" type="text" placeholder="Buscar" class="form-control"/>
                </form>
            </li>
        </ul>
    </div>
</nav>
<div class="container-fluid">
    <partial name="_CookieConsentPartial"/>
    <main role="main">
        @RenderBody()
    </main>
</div>
<environment include="Development">
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
</environment>
<environment exclude="Development">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
            asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
            asp-fallback-test="window.jQuery"
            crossorigin="anonymous"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
        </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
            asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
            asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
            crossorigin="anonymous"
            integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o">
        </script>
</environment>
<script src="~/js/site.js" asp-append-version="true"></script>
<script src="~/js/ajustesIndex.js"></script>
<script>
    //si jamas habia sido guardada la variable de modo oscuro, la crea
    if(!window.localStorage.getItem("oscuro")){
        window.localStorage.setItem("oscuro","off");
    }
</script>

@RenderSection("Scripts", required: false)
</body>
</html>