/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */



/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
  height: 100%;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}


.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */



#titulo{
  font-family: Arial, Helvetica, sans-serif
}
#header{
  padding-top:12px;
}
#titulo_text{
  margin-top: 10px;
  margin-bottom: 10px;
}

#publicar{
  margin-top:40px;
}
#boton_publicar{
  margin-top: 50px;
  margin-bottom: 20px;
}
#cuerpo_del_articulo{
  height:400px;
}
#content_modal_editar{
  width:100%;
}
#capa_notificaciones {
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  visibility: hidden;
}
#notificacion_articulo_editado{
  margin:15px;
}
.card-articulo{
  margin:10px;
}
#capa_perfil{
  display:none;
}
#alerta_contra_incorrecta_perfil_info{
  display:none;
  margin-top: 10px;
}
#capa_editor{
  display: none;
}
#capa_mis_articulos{
  display:none;
}
#capa_ajustes{
  display: none;
}
.encabezado-seccion{
  margin-bottom: 10px;
}